.elements__card-like {
  background-image: url('../../../../images/heart.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 22px;
  height: 19px;
  background-color: transparent;
  margin-right: 15px;
  align-self: center;
  border: none;
}