.profile {
  width: 100%;
  margin: auto;
}
@media screen and (min-width: 320px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 41px 0 36px;
  }
}
@media screen and (min-width: 768px) {
  .profile {
    padding: 39px 0 50px;
    flex-direction: row;
    justify-content: space-between;
    
}
}