.elements {

}
@media screen and (min-width: 320px) {
  .elements {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .elements {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 17px;
  }
}
@media screen and (min-width: 1024px) {
  .elements {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 17px;
  }
}