@font-face {
	font-family: "Inter";
	src: local("Inter-Black"), url("Inter-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: local("Inter-Regular"), url("Inter-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Inter";
	src: local("Inter-Medium"), url("Inter-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}